@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/variables.css";
@import "../styles/theme.css";
@import "../styles/base.css";
@import "../styles/animations.css";
@import "../styles/components.css";

@custom-variant dark (&:where(.dark, .dark *));
